<div class="create">
  <form name="createForm" ng-controller="CreateCtrl as createCtrl" novalidate>
    <div class="rowin">
      <label for="name">Name</label>
      <input class="u-full-width" type="text" placeholder="name" name="name" ng-model="pet.name" required>
      <p ng-show="createForm.name.$error.required" class="help-error">Name required.</p>
    </span>
    </div>
    <div class="rowin">
      <label for="category">Category</label>
      <input class="u-full-width" type="text" placeholder="category" name="pet.category.name" ng-model="pet.category.name">
    </div>
    <div class="rowin">
      <label for="tags">Tags</label>
      <input class="u-full-width" ng-repeat="tagIn in createCtrl.tagsIn" type="text" placeholder="Tag" name="tag" ng-model="pet.tags[$index].name">
      <input class="u-full-width button" type="submit" value="+ Tag" ng-click="createCtrl.addTag()">
    </div>
    <div class="rowin">
      <label for="tags">Photos</label>
      <input class="u-full-width" ng-repeat="photoUrl in createCtrl.photosIn" type="url" placeholder="Photo Url" name="photo" ng-model="pet.photos[$index].url">
      <p ng-show="createForm.photo.$invalid" class="help-error">Invalid url.</p>
      <input class="u-full-width button" type="submit" value="+ Photo" ng-click="createCtrl.addPhoto()">
    </div>
    <div class="rowin">
      <label for="status">Status</label>
      <select class="u-full-width" name="pet.status" ng-model="pet.status">
        <option value="" >--Choose status---</option>
        <option value="available" selected>available</option>
        <option value="pending">pending</option>
        <option value="sold">sold</option>
      </select>
    </div>
    <div class="rowin">
      <input class="button-primary" type="submit" value="Add Pet" ng-click="createCtrl.createPet(pet)" ng-disabled="createForm.$invalid">
    </div>
  </form>
</div>
