<div class="show">
  <form name="deleteForm" ng-controller="DeleteCtrl as deleteCtrl" ng-submit="deleteCtrl.deleteById()" novalidate>
    <div class="rowin">
      <label for="apiKey">API Key</label>
      <input class="u-full-width" type="text" placeholder="API Key" name="apiKey" ng-model="deleteCtrl.petform.apiKey" required>
      <p ng-show="deleteForm.apiKey.$error.required" class="help-error">API Key is required.</p>
    </div>
    <div class="rowin">
      <label for="petId">Pet ID</label>
      <input class="u-full-width" type="number" placeholder="Pet ID" name="petId" ng-model="deleteCtrl.petform.id" required min="0">
      <p ng-show="deleteForm.petId.$error.number || deleteForm.petId.$invalid" class="help-error">Pet ID is not a valid number.</p>
    </div>
    <div class="rowin">
      <input class="button-primary" type="submit" value="Delete Pet" ng-disabled="deleteForm.$invalid">
    </div>
  </form>
</div>

