<div class="show">
  <form name="findForm" ng-controller="FindCtrl as findCtrl" ng-submit="findCtrl.redirectById()" novalidate>
    <div class="rowin">
      <label for="petId">Pet ID</label>
      <input class="u-full-width" type="number" placeholder="Pet ID" name="petId" ng-model="findCtrl.petId" required min="0">
      <p ng-show="findForm.petId.$error.number || findForm.petId.$invalid" class="help-error">Pet ID is not a valid number.</p>
    </div>
    <div class="rowin">
      <input class="button-primary" type="submit" value="Find Pet" ng-disabled="findForm.$invalid">
    </div>

    <div class="rowin">
      <pre ng-hidden="findCtrl.pet.isNullName()">
{{findCtrl.pet.get() | json}}
      </pre>
    </div>
  </form>
</div>

