<div class="login">
  <form ng-controller="LoginformCtrl as loginformCtrl" ng-submit="loginformCtrl.authorize()">
    <div class="rowin">
      <label for="username">Username</label>
      <input class="u-full-width" type="text" placeholder="username" name="username" ng-model="loginformCtrl.user.username">
    </div>
    <div class="rowin">
      <label for="password">Password</label>
      <input class="u-full-width" type="password" placeholder="password" name="password" ng-model="loginformCtrl.user.password">
    </div>
    <div class="rowin">
      <input class="button-primary" type="submit" value="Submit">
    </div>
  </form>
</div>
