<li ng-show="navLinksCtrl.user.empty" class="active"><a href="#/" >Login</a></li>
<li ng-hide="navLinksCtrl.user.empty" ng-class="{active: navLinksCtrl.isSelected(2)}"><a ng-href="#/pets" ng-click="navLinksCtrl.selectLink(2)">Find</a></li>
<li ng-hide="navLinksCtrl.user.empty" ng-class="{active: navLinksCtrl.isSelected(3)}"><a ng-href="#/delete" ng-click="navLinksCtrl.selectLink(3)">Delete</a></li>
<li ng-hide="navLinksCtrl.user.empty" ng-class="{active: navLinksCtrl.isSelected(4)}"><a ng-href="#/create" ng-click="navLinksCtrl.selectLink(4)">Add</a></li>
<li ng-hide="navLinksCtrl.user.empty"><a href="#/logout" ng-click="navLinksCtrl.reset()">Logout {{navLinksCtrl.user.username}}</a></li>
