$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$blue: #005daa;
$red: #a94442;
$green: #3c763d;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  margin-bottom: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

}


.navbar-header a.navbar-brand {
    padding: 9px 15px;
    img {
      width: 33px;
      display: inline;
      padding-right: 5px;
    }
}

a {
    color: $blue !important;
    &:hover {
      color: darken($blue, 20%) !important;
    }
}

.rowin {
  margin-bottom: 20px;
}


@media screen and (min-width: 768px) {
  .navbar-nav {
      float: right;
      margin: 0;
  }
}

.help-error {
  color: $red;
}

.hasError {
  border: 1px solid $red;
  color: #fff;
  padding: 10px;
  margin: 10px 0 20px;
  background: $red;

  &.hasSuccess {
    border: 1px solid $green;
    background: $green;
  }
}


input.ng-invalid {
  border: 1px solid $red;
  &:hover{
    border: 1px solid $red;
  }
  &:focus{
    border: 1px solid $red;
  }
}

form.ng-invalid input.button-primary {
  cursor: not-allowed;
  background-color: #999;
  border: 1px solid #999;
  &:hover{
    background-color: #999;
    border: 1px solid #999;
  }
  &:focus{
    background-color: #999;
    border: 1px solid #999;
  }
}